*, *::before, *::after {
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    top: 100px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Roboto', 'Noto', sans-serif;
    color: #757575;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

img {
  /*max-width: 100%;
  border: 0;*/
}

nav {
    text-align: right;
    position: fixed;
    top: 0;
    padding: 0.5rem;
    background-color: #fff;
    z-index: 1000;
    min-height: 50px;
    width: 100%;
}

nav img {
    z-index: 1000;
    height: 3em;
    position: absolute;
    left: 40px;
    top: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
}

nav a {
    color: #757575;
    align-self: center;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 1em 1em .5em;
    -webkit-translation: all .3s ease-in;
}

.small {
  padding: .5em 1em .5em;
}

nav a:hover {
    color: black;
}

.container {
     margin: 0 auto;
     max-width: 250rem;
 }

.container.narrow {
     max-width: 56rem;
 }

 div {
   display: block;
 }

 hr {
   display: block;
   -webkit-margin-before: 0.5em;
   -webkit-margin-after: 0.5em;
   -webkit-margin-start: auto;
   -webkit-margin-end: auto;
 }

 .wrap {
   background-color: #fff;
   margin: 0 auto;
 }

 .content {

 }

.row {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: none;
    z-index: 1;
}

.row.foot {
  display: block;
}

.row.content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 14.3%;
    z-index: 3;
}

.row:after, u-cf {
  clear: both;
  content: "";
  display: table;
}

section h1 {
    flex-direction: center;
    color: blueviolet;
    font-size: 48px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0;
    margin: auto;
    max-width: 800px;
    padding: 0 10px;
}

.section {

}

.section.hero .row {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.subpage {
  padding-top: 5em;
  padding-bottom: 25em;
}

.sub-content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 25.3%;
  transform: translate(-50%, 0);
  z-index: 3;
}

.small {
  padding: .5em 1em;
}

.move {
  top: -60px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 65px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.movetext {
  top: -70px;
}

.fade {
  border-bottom: .25px solid #757575;
}

footer {
  background-color: #6b6b6b;
  color: #fff;
  font-size: 14px;
  padding: 100px 0;
  position: relative;
  display: block;
}

footer .footer-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
}

footer .footer-container .page-links {
  float: right;
  width: auto;
  margin-left: 0;
  margin-right: -15px;
  flex-wrap: wrap;
}

footer .footer-container .page-links a {
  cursor: pointer;
  margin: 0 10px;
}

footer .footer-container .page-links>* {
  position: relative;
  display: block;
  float: left;
  line-height: 30px;
  font-size: 15px;
}

footer .footer-container .copyright {
  position: relative;
  display: block;
  float: left;
  margin-left: 0px;
}

footer .footer-container .copyright p {
  font-size: 15px;
  color: white;
  margin-top: 0;
}

footer .logo img {
  max-height: 42px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

footer .footer-container hr {
  width: 100% !important;
  margin: 36px 0 32px !important;
  border-top: 1px solid #979797 !important;
}
