<title>FAQ</title>
<body class="hero-content">
    <section>
    <h1 class="hero-title">Frequently Asked Questions</h1>
    
    <h4>Why do I need an EIN?</h4>
        <ul>        
            <li>Started a new business</li>
            <li>Hired or will hire employees, including household employees</li>
            <li>Opened a bank account that requires an EIN for banking purposes</li>
            <li>Changed the legal character or ownership of your organization (for example, you incorporate a sole proprietorship or form a partnership)</li>
            <li>Purchased a going business</li>
            <li>Created a trust</li>
            <li>Created a pension plan as a plan administrator</li>
            <li>Are a foreign person and need an EIN to comply with IRS withholding regulations</li>
            <li>Are a withholding agent for taxes on non-wage income paid to an alien (such as an individual, a corporation, or a partnership)</li>
            <li>Are a state or local agency</li>
            <li>Are a federal government unit or agency</li>
            <li>Formed a corporation</li>
            <li>Formed a partnership</li>
            <li>Administer an estate formed as a result of a person's death</li>
            <li>Represent an estate that operates a business after the owner's death.</li>
        </ul>
    <h4>Does my business need an EIN?</h4>
    <h4>Sole Proprietors</h4>
    <p>You will be required to obtain a new EIN if the following statements are true:</p>
        <ul>
            <li>You are subject to a bankruptcy proceeding.</li>
            <li>You incorporate.</li>
            <li>You take in partners and operate as a partnership.</li>
            <li>You purchase or inherit an existing business that you operate as a sole proprietorship.</li>
            <li>You will not be required to obtain a new EIN if the following statements are true:</li>
            <li>You change the name of your business.</li>
            <li>You change your location or add other locations.</li>
            <li>You operate multiple businesses.</li>
        </ul>
            <h4>Corporations</h4>
            <p>You will be required to obtain a new EIN if the following statements are true:</p>
        <ul>
            <li>A corporation receives a new charter from the Secretary of State.</li>
            <li>You are a subsidiary of a corporation using the parent's EIN or you become a subsidiary of a corporation.</li>
            <li>You change to a partnership or a sole proprietorship.</li>
            <li>A new corporation is created after a statutory merger.</li>
            <li>You will not be required to obtain a new EIN if the following statements are true:</li>
            <li>You are a division of a corporation.</li>
            <li>The surviving corporation uses the existing EIN after a corporate merger.</li>
            <li>A corporation declares bankruptcy.</li>
            <li>The corporate name or location changes.</li>
            <li>A corporation chooses to be taxed as an S corporation.</li>
            <li>Reorganization of a corporation changes only the identity or place.</li>
        </ul>
            <h4>Partnerships</h4>
            <p>You will be required to obtain a new EIN if the following statements are true:</p>
        <ul>
            <li>You incorporate.</li>
            <li>Your partnership is taken over by one of the partners and is operated as a sole proprietorship.</li>
            <li>You end an old partnership and begin a new one.</li>
            <li>You will not be required to obtain a new EIN if the following statements are true:</li>
            <li>The partnership declares bankruptcy.</li>
            <li>The partnership name changes.</li>
            <li>You change the location of the partnership or add other locations.</li>
            <li>A new partnership is formed as a result of the termination of a partnership under IRC section 708(b)(1)(B).</li>
            <li>50 percent or more of the ownership of the partnership (measured by interests in capital and profits) changes hands within a twelve-month period (terminated partnerships under Reg. 301.6109-1).</li>
            <li>You operate multiple businesses under your existing partnership agreement.</li>
        </ul>
            <h4>Estates</h4>
            <p>You will be required to obtain a new EIN if the following statements are true:</p>
        <ul>
            <li>A trust is created with funds from the estate (not simply a continuation of the estate).</li>
            <li>You represent an estate that operates a business after the owner's death.</li>
            <li>You will not be required to obtain a new EIN if the following statement is true:</li>
            <li>The administrator, personal representative, or executor changes his/her name or address.</li>
        </ul>
            <h4>Trusts</h4>
            <p>You will be required to obtain a new EIN if the following statements are true:</p>
        <ul>
            <li>One person is the grantor/maker of many trusts.</li>
            <li>A trust changes to an estate.</li>
            <li>A living or intervivos trust changes to a testamentary trust.</li>
            <li>A living trust terminates by distributing its property to a residual trust.</li>
            <li>You will not be required to obtain a new EIN if the following statements are true:</li>
            <li>The trustee changes.</li>
            <li>The grantor or beneficiary changes his/her name or address.</li>
        </ul>
            <h4>Limited Liability Companies</h4>
            <p>You will be required to obtain a new EIN if the following statement is true:</p>
        <ul>
            <li>A corporation files papers with the state to convert to an LLC and will use the default classification of partnership. (The corporation is treated as if it has liquidated in this case.)</li>
            <li>You will not be required to obtain a new EIN if the following statements are true:</li>
            <li>A corporation files papers with the state to convert to an LLC and will elect via Form 8832 to be taxed as a corporation.</li>
            <li>The number of members in the LLC changes from more than one member to a single member.</li>
            <li>The number of members in the LLC changes from a single member to more than one member.</li>
            <li>A sole proprietor files papers to become a state recognized entity, organizes as an LLC, and will file Form 8832 or Form 2553 to elect to be treated as a disregarded entity or taxed as a corporation or small business corporation.</li>
        </ul>
        </section>
</body>

