<div class="wrap">
<div class="content">

  <section class="hero center">
       <div class="row">
         <div class="content">
           <h1 class="hero-title">Welcome to Biizy</h1>
           <h2>You're too busy, let us help you get everything you need for your business quick</h2>
              <div class="button" ng-click="start()">
               <a>Click to get started!</a>
              </div>
         </div>
       </div>
  </section>

    <section class="selling-points container clearfix">
      <section class="Request">
       <div class="row half">
         <div class="container text-left">
           <span class="ion-document-text"></span>
           <h5 class="point-title">FEIN and State Tax ID</h5>
           <p class="point-description">Get help getting your business identification numbers quick!</p>
           <a ui-sref="neworexist">Request now!</a>
         </div>
         <div class="container-fein">
         </div>
         <div class="col media parallax">
           <img class="mobile-hide" src="http://lorempixel.com/720/512/business/"
           data-parallax="selling-points" data-paralax-amount="100" data-paralax-centered-y="transform:
           translate(-50%, 50%) translateY(100px) translateZ(1px); bottom: 50%;
           will-change: transform; transition: transform 0.3s ease-out;">
         </div>
       </div>
     </section>

     <section>
       <div class="row half">
           <div class="col last">
             <div class="container text-left">
               <span class="ion-edit"></span>
               <h5 class="point-title">Form Your Business</h5>
               <p class="point-description">Need to form an LLC or Corporation?</p>
               <a ui-sref="neworexist">Form now!</a>
             </div>
           </div>
           <div class="col media parallax">
             <img class="mobile-hide" src="http://lorempixel.com/720/512/business/"
             data-parallax="" data-paralax-amount="300" data-paralax-centered-y="transform:
             translate(-50%, 50%) translateY(100px) translateZ(1px); bottom: 50%;
             will-change: transform; transition: transform 0.3s ease-out;">
           </div>
       </div>
     </section>

     <section>
       <div class="row half">
           <div class="container text-left">
             <span class="ion-ios-telephone"></span>
             <h5 class="point-title">Get Legal Advice</h5>
             <p class="point-description">Need advice quick on your next business move?</p>
             <a ui-sref="request">>Request now!</a>
           </div>
           <div class="col media parallax">
             <img class="mobile-hide" src="http://lorempixel.com/720/512/business/"
             data-parallax="" data-paralax-amount="600" data-paralax-centered-y="transform:
             translate(-50%, 50%) translateY(100px) translateZ(1px); bottom: 50%;
             will-change: transform; transition: transform 0.3s ease-out;">
           </div>
       </div>
     </section>
   </section>

</div>
</div>
