<section class="hero-content">
     <h1 class="hero-title">Welcome to Biizy</h1>
     <h2>You're too busy, let us help you get everything you need for your business quick</h2>
     <button ng-click="start()">Click to get started!</button>
</section>
 
 <section class="selling-points container clearfix">
     <div class="point column third">
         <span class="ion-document-text"></span>
         <h5 class="point-title">FEIN and State Tax ID</h5>
         <p class="point-description">Get help getting your business identification numbers quick!</p>
     </div>
     <div class="point column third">
         <span class="ion-edit"></span>
         <h5 class="point-title">Form Your Business</h5>
         <p class="point-description">Need to form an LLC or Corporation?</p>
     </div>
     <div class="point column third">
         <span class="ion-ios-telephone"></span>
         <h5 class="point-title">Get Legal Advice</h5>
         <p class="point-description">Need advice quick on your next business move?</p>
     </div>
 </section>