<div class="content">
  <section class="hero-content">
       <div class="row half">
         <h1 class="hero-title">Welcome to Biizy</h1>
         <h2>You're too busy, let us help you get everything you need for your business quick</h2>
         <div class="button" ng-click="start()">
           <a>Click to get started!</a>
         </div>
       </div>
  </section>

   <section class="selling-points container clearfix">
       <div class="row half">
           <div class="container-fein">
           </div>
           <div class="container text-left">
             <span class="ion-document-text"></span>
             <h5 class="point-title">FEIN and State Tax ID</h5>
             <p class="point-description">Get help getting your business identification numbers quick!</p>
             <a ui-sref="neworexist">Request now!</a>
           </div>
       </div>
       <div class="row half">
           <div class="container-form">
           </div>
           <div class="container text-left">
             <span class="ion-edit"></span>
             <h5 class="point-title">Form Your Business</h5>
             <p class="point-description">Need to form an LLC or Corporation?</p>
             <a ui-sref="neworexist">Form now!</a>
           </div>
       </div>
       <div class="row half">
           <div class="container text-left">
             <span class="ion-ios-telephone"></span>
             <h5 class="point-title">Get Legal Advice</h5>
             <p class="point-description">Need advice quick on your next business move?</p>
             <a ui-sref="request">>Request now!</a>
           </div>
       </div>
   </section>
</div>
