<section="hero">

  <div class="content">
      <h1 class="hero-title">Are you a new or exisiting business?</h1>
          <div class="button" ng-click="next('step1exist')">
            <a>I have already formed my business entity</a>
          </div>
          <div class="button" ng-click="next('step1new')">
            <a>I need to create a new business entity</a>
          </div>
          <!-- <button ng-click="next('step1exist')">I have already formed my business entity</button>
          <button ng-click="next('step1new')">I need to create a new business entity</button> -->
  </div>
</section>
