
  <div class="wrap">
    <div class="content">
      <section class="hero center">
        <h1 class="hero-title">Request Here!</h1>
      </section>
        <section class="row">
          <form method="post" action="/processform">
              <input type="email" name="emailInput" placeholder="Enter email address here"><br>
              <input type="text" name="NameInput" placeholder="First Name"><br>
              <input type="text" name="NameInput" placeholder="Last Name"><br>
              <input type="text" name="BizLegalInput" placeholder="Legal Business Name"><br>
              <input type="text" name="BizDBAInput" placeholder="DBA Name if Applicaable"><br>
              <input type="submit">
          </form>
        </section>
    </div>
  </div>
