<section class="hero-content">
    <h1>Entity</h1>
        <label>Select Your Entity Type:</label>
            <select type="text" ng-model="entity" >
                <option value="Choose">-- Choose Here --</option>
                <option value="LLC">Limited Liability Company (LLC)</option>
                <option value="CORP">Corporation (Inc)</option>
                <option value="SOLE PROP">Individual / Sole Proprietor</option>
                <option value="PARTNER">Partnership</option>
                <option value="SCORP">S-Corporation</option>
                <option value="LP">Personal Service Corporation (Licensed Professional)</option>
                <option value="CHURCH">Church or Church Controlled Organization</option>
                <option value="NPO">Other Non-profit Organization</option>
            </select>
        <br />
    <button ng-click="next('step2exist')">Next Step</button>
</section>
