<section class="hero-content">
    <h1>Entity</h1>
        <h3>I have already formed my business entity.</h3>
        <label>Select Your Entity Type:</label>
            <select type="text" ng-model="entity" >
                <option value>-- Choose Here --</option>
                <option value="LLC">Limited Liability Company (LLC)</option>
                <option value="CORP">Corporation (Inc)</option>
                <option value="SOLE PROP">Individual / Sole Proprietor</option>
                <option value="PARTNER">Partnership</option>
                <option value="SCORP">S-Corporation</option>
                <option value="LP">Personal Service Corporation (Licensed Professional)</option>
                <option value="CHURCH">Church or Church Controlled Organization</option>
                <option value="NPO">Other Non-profit Organization</option>
            </select>
        <br />
        <h3>I need to form a new business entity.</h3>
        <label>Select Your Entity Type:</label>
            <select type="text" ng-model="newEntity" >
                <option value>-- Choose Here --</option>
                <option value="LLC">Limited Liability Company (LLC)</option>
                <option value="CORP">Corporation (Inc)</option>
            </select>
        <br />
    <button ng-click="next('step2')">Go to 2</button>    
</section>